@import "tailwindcss";
@import "tw-animate-css";

:root {
  color-scheme: light dark;
  /* mozilla pls */
  interpolate-size: allow-keywords;
  --radius: 0.45rem;
}

@theme inline {
  --color-light: var(--color-gray-50);
  --color-dark: var(--color-gray-950);
  --color-foreground: light-dark(var(--color-dark), var(--color-light));
  --color-background: light-dark(var(--color-light), var(--color-dark));
  --color-background-card: light-dark(var(--color-gray-100), var(--color-gray-900));
  --color-background-head: light-dark(var(--color-gray-200), var(--color-gray-800));

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

@utility transition-in-up {
  @apply starting:translate-y-1/2 starting:scale-90 starting:opacity-0 translate-y-0 scale-100 opacity-100 transition-[translate,scale,opacity,display] transition-discrete duration-150 origin-top;
}

@utility transition-in-down {
  @apply starting:-translate-y-1/2 starting:scale-90 starting:opacity-0 translate-y-0 scale-100 opacity-100 transition-[translate,scale,opacity,display] transition-discrete duration-150 origin-top;
}

@utility transition-in-left {
  @apply starting:translate-x-1/2 starting:scale-90 starting:opacity-0 translate-x-0 scale-100 opacity-100 transition-[translate,scale,opacity,display] transition-discrete duration-150 origin-left;
}

@utility transition-in-right {
  @apply starting:-translate-x-1/2 starting:scale-90 starting:opacity-0 translate-x-0 scale-100 opacity-100 transition-[translate,scale,opacity,display] transition-discrete duration-150 origin-left;
}

@utility form-lg {
  @apply @7xl:grid-cols-[auto_2fr_auto_2fr_auto_2fr];
}

/* https://tailwindcss.com/docs/hover-focus-and-other-states#aria-states
  setting aria-checked to undefined doesn't render the attrib
*/
@custom-variant aria-checked-indeterminate (&:not([aria-checked]));

@layer base {
  input[type="number"] {
    appearance: textfield;
  }
  /* use form-lg on large forms */
  form {
    @apply grid grid-cols-[auto_3fr] @2xl:grid-cols-[auto_2fr_auto_2fr] gap-4 items-start;
  }
  /* chromium only applies non size-gated (@media) grid-template-columns to subgrid */
  fieldset {
    /* @apply grid col-span-full grid-cols-subgrid items-start; */
    @apply contents;
  }
  legend {
    @apply col-span-full font-semibold text-xl mb-4;
  }
  html:has(dialog[open]) {
    @apply overflow-hidden;
  }
  ::details-content {
    @apply h-0 overflow-clip transition-[height,content-visibility] transition-discrete;
  }
  [open]::details-content {
    height: auto;
  }
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply font-sans bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
}

@theme {
  --container-8xl: 96rem;
}
